# Compiler files
cache/
out/
contracts/node_modules/

frontend/node_modules/
frontend/out/
frontend/.next/

.wake/
# Ignores development broadcast logs
!/contracts/broadcast
/contracts/broadcast/*/31337/
/contracts/broadcast/**/dry-run/

/contracts/deployments/*
/contracts/deployments/** 


# Docs
docs/

# Dotenv file
.env
.envrc